.body {
  font-family: Arial;
}
.widjet {
  display: flex;
  min-width: 300px;
  min-height: 300px;
  align-items: center;
  justify-content: center;
}
.button {
  font-size: 18px;
  border-style: none;
  border-radius: 5px;
  background-color: #E52B50;
  color: white;
  padding: 15px;
}
.button:hover {
  cursor: pointer;
  background-color: #C8193C;
}
.button:active {
  margin-top: 2px;
  margin-left: 2px;
}
.popover {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 250px;
  top: 0;
  left: 0;
  border-radius: 5px;
  border: 1px solid #aaa;
  background: #eee;
  color: #444;
}
.title, .desc {
  width: 100%;
  padding: 6px;
  font-size: 12px;
}
.popover .title {
  font-size: 14px;
  color: black;
  background-color: #ddd;
  border-bottom: 1px solid #ccc;
}
